doctype 5
html
  head
    title Ernie The Pig
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
  body
    div(id="wrapper")
      block content

  script(src="javascripts/main.js")